//
// Base Sidebar Styles
//============================================

.sidebar {
  @include rem( font-size, $sidebar--font-size );
  margin-bottom: 40px;

  @include media( $breakpoint__screen-size--small ) {
    margin-bottom: 5%;
  }

  .widget {
    background-color: $sidebar__widget--background-color;
    padding: 40px;

    @include media( $breakpoint__screen-size--small ) {
      padding: 30px;
      margin-bottom: 5%;
    }
  }

  .widget-title a {
    color: $sidebar__widget-title--link-color;
    text-decoration: none;
  }
}