.sidebar {
  font-size: $sidebar__FontSize;
  margin-bottom: 40px;

  @media only screen and (max-width: $smallScreen) {
    margin-bottom: 5%;
  }

  .widget {
    background-color: $sidebar__Widget__BackgroundColor;
    padding: 40px;

    @media only screen and (max-width: $smallScreen) {
      padding: 30px;
      margin-bottom: 5%;
    }
  }

  .widget-title a {
    color: $sidebar__WidgetTitle__LinkColor;
    text-decoration: none;
  }
}