/* ## Body
--------------------------------------------- */

html {
  font-size: $html--font-size;
}

body {
  background-color: $body--background-color;
  color: $base--color;
  font-family: $base--font-family;
  font-size: rem( $base--font-size );
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: $base--line-height;
  margin: 0;

  @include media( $breakpoint__screen-size--small ) {
    font-size: rem( $base--font-size--small-screen );
  }

  /* Chrome fix */
  > div {
    font-size: rem( $base--font-size );

    @include media( $breakpoint__screen-size--small ) {
      font-size: rem( $base--font-size--small-screen );
    }
  }

}