/* ## Body
--------------------------------------------- */

html {
  font-size: $html__FontSize;
}

body {
  background-color: $body__BackgroundColor;
  color: $base__Color;
  font-family: $base__FontFamily;
  font-size: rem( $base__FontSize );
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: $base__LineHeight;
  margin: 0;

  @media only screen and (max-width: $smallScreen) {
    font-size: rem( $base__FontSize__SmallScreen );
  }

  /* Chrome fix */
  > div {
    font-size: rem( $base__FontSize );

    @media only screen and (max-width: $smallScreen) {
      font-size: rem( $base__FontSize__SmallScreen );
    }
  }

}