/* ## Forms
--------------------------------------------- */

input,
select,
textarea {
  background-color: $input__BackgroundColor;
  border: 1px solid $input__BorderColor;
  color: $input__Color;
  font-size: rem( $input__FontSize );
  font-weight: 400;
  padding: 16px;
  width: 100%;
}

input:focus,
textarea:focus {
  border: 1px solid $input__FocusBorderColor;
  outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
  width: auto;
}

::-moz-placeholder {
  color: $input__Color;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: $input__Color;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
  display: none;
}