/* ### Content */

.content {
  float: right;
  width: $content__Width;

  @media only screen and (max-width: $largerScreen) {
    width: $content__Width__LargerScreen;
  }
  @media only screen and (max-width: $largeScreen) {
    width: $content__Width__LargeScreen;
  }

  .content-sidebar &,
  .content-sidebar-sidebar &,
  .sidebar-content-sidebar & {
    float: left;
  }

  .content-sidebar-sidebar &,
  .sidebar-content-sidebar &,
  .sidebar-sidebar-content & {
    width: $contentBothSidebars__Width;

    @media only screen and (max-width: $largerScreen) {
      width: $contentBothSidebars__Width__LargerScreen;
    }
    @media only screen and (max-width: $largeScreen) {
      width: $contentBothSidebars__Width__LargeScreen;
    }
  }

  .full-width-content & {
    width: $fullWidthContent__Width;
  }
}