/* ### Structure and Layouts - Columns Widths & Positions - Secondary Sidebar
---------------------------------------------------------------------------------------------------- */

.sidebar-secondary {
  float: left;
  width: $sidebar-secondary--width;

  .content-sidebar-sidebar & {
    float: right;
  }
}