//
// Title Area Base Styles
//============================================

.title-area {
  float: left;
  padding: 10px 0;
  width: $title-area--width;

  @include media( $breakpoint__screen-size--medium ) {
    width: 100%;
  }

  .header-full-width & {
    float: none;
    width: 100%;
  }
}

@include media( $breakpoint__screen-size--medium ) {
  .site-description,
  .site-header .title-area,
  .site-header .widget-area,
  .site-title {
    text-align: center;
  }
}