/* #### Components - Header - Title Area - Site Description
---------------------------------------------------------------------------------------------------- */

.site-description {
  @include rem( font-size,$site-description--font-size);
  font-weight: 400;
  line-height: 1.5;

  @include media( $breakpoint__screen-size--medium ) {
    text-align: center;
  }
}

.site-description,
.site-title {
  margin-bottom: 0;
}