//
// Breakpoints
//================================

/// Standard Media Query Breakpoints
/// @group wds
// Src: https://github.com/WebDevStudios/wd_s/blob/master/assets/sass/utilities/variables/_breakpoints.scss

$large-desktop: rem(1680);
$desktop: rem(1366);
$tablet-landscape: rem(1024);
$wp-admin-bar: rem(783);
$tablet-portrait: rem(768);
$phone-landscape: rem(640);
$phone-portrait: rem(360);

// Global Screen Sizes
// Src: https://github.com/hellofromtonya/hello-child-theme/blob/master/assets/sass/utilities/variables/_breakpoints.scss
//------------------------------------------------------------------------------
$smallestScreen: $maxWidth - 820px; // 320px;
$smallerScreen: $maxWidth - 660px; // 480px;
$smallScreen: $maxWidth - 380px; // 760px;
$mediumScreen: $maxWidth - 117px; // 1023px
$largeScreen: $maxWidth + 40px; // 1180px
$largerScreen: $maxWidth + 200px; // 1340px
$hugeScreen: $maxWidth + 460px; // 1600px