$white: #fff;
$black: #000;

$base__Color: #333;

$link__Color: #c3251d;
$link__HoverColor: #333;

$body__BackgroundColor: #eee;

//
// Header
//========================================

$siteHeader__BackgroundColor: $white;
$siteTitle__LinkColor: #333;

//
// Navigation
//========================================

$nav__LinkColor: #333;
$nav__HoverColor: #c3251d;

$submenu__BorderColor: #eee;
$submenu__LinkBackgroundColor: $white;

$primaryNav__BackgroundColor: $white;
$primaryNav__BorderColor: #eee;
$primaryNav__LinkColor: $nav__LinkColor;

$secNav__BackgroundColor: $white;
$secNav__BorderColor: #eee;
$secNav__LinkColor: $nav__LinkColor;

$jsNav__BackgroundColor: $white;
$jsNav__HoverColor: $black;
$jsNav__FocusColor: #c3251d;

$navToggle__BackgroundColor: $white;
$navToggle__BorderColor: #eee;
$navToggle__Color: #ccc;

$archivePagination__BackgroundColor: $white;
$archivePagination__Color: #333;
$archivePagination__HoverBackgroundColor: #c3251d;
$archivePagination__HoverColor: $white;

//
// Entry Content
//========================================

$entry__BackgroundColor: $white;

$entryTitle__LinkColor: #333;
$entryTitle__HoverColor: #c3251d;

$entryContent__Code__BackgroundColor: #333;
$entryContent__Code__Color: #eee;

$entryFooter__EntryMeta__BorderColor: #eee;

//
// Comments
//========================================

$comments__BackgroundColor: $white;

//
// Footer
//========================================

$siteFooter__BackgroundColor: $white;
$siteFooter__BorderColor: #eee;
$footerWidgets__BackgroundColor: $white;