//
// Device Screen Sizes
//=============================

$screen-size--smallest: 320px;
$screen-size--smaller: 480px;
$screen-size--small: 860px;
$screen-size--medium: 1023px;
$screen-size--large: 1200px;
$screen-size--larger: 1340px;
$screen-size--largest: 1600px;

// Standard Media Query Breakpoints
// Src: https://github.com/WebDevStudios/wd_s/blob/master/assets/sass/utilities/variables/_breakpoints.scss
//=============================
//$large-desktop: rem(1680);
//$desktop: rem(1366);
//$tablet-landscape: rem(1024);
//$wp-admin-bar: rem(783);
//$tablet-portrait: rem(768);
//$phone-landscape: rem(640);
//$phone-portrait: rem(360);