//
// Dimension Variables
//=============================

// Header Module
$titleArea__Width: 300px;
$siteTitle__LinkMinHeight: 80px;
$headerRight__Width: 800px;
$headerRight__LaptopWidth: 620px;
$headerRight__TabletWidth: 100%;
$searchForm__Width: 50%;
