//
// Dimension Variables
//=============================

// Header Module
$titleArea__Width: 300px;
$siteTitle__LinkMinHeight: 80px;
$headerRight__Width: 800px;
$headerRight__Width_LargeScreen: 620px;
$headerRight__Width_MediumScreen: 100%;


// Footer Module
$footerWidgets__Width: 380px;
$footerWidgets__Width_LargerScreen: 340px;
$footerWidgets__Width_LargeScreen: 300px;
$footerWidgets__Width_MediumScreen: 100%;

// Widget Module
$widgetCalendar__Table__Width: 100%;
$searchForm__Width: 50%;
$widgetSearch__Input__Width: 1px;

// Plugins Module
$enews__InputSubmit__Width: 100%;
